#parse("/velocity/layout.vm")
#@mainLayout()

<div id="viewspace">
    <div class="container">
        <h1>IRIS Datalog Engine</h1>

        <div class="row">
            <div class="four columns">
                <label>Datalog Program</label>
            </div>
            <div class="eight columns">
                <a class="u-pull-right" href="/datalog/user_guide.pdf">User Guide</a>
                <a class="u-pull-right" href="https://github.com/Joklost/datalog-parser">Source</a>
                <a class="u-pull-right" href="#" id="sample-program">Sample</a>
            </div>

            <div class="editor" id="input"></div>
            #*<textarea class="u-full-width" required="required" id="program-input"></textarea>*#
        </div>

        <div class="row">
            <input class="button-primary" type="button" value="Parse Program" id="parse-program"/>
        </div>

        <div class="row">
            <label>Output</label>

            <div class="editor" id="output"></div>
            #*<textarea id="program-result" class="u-full-width" required="required" readonly="readonly"></textarea>*#
        </div>



    </div>
</div>

<script src="/datalog/js/index.js"></script>
#end