
#viewspace {
    margin-top: 45px;
}

a {
    padding-left: 15px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}

textarea{
    resize: vertical;
    min-height: 400px;
    background: url(https://i.imgur.com/2cOaJ.png) no-repeat local;
    padding-left: 35px;
    padding-top: 10px;
    border-color:#ccc;
}